server:
  persistentVolume:
    enabled: true
    size: 20Gi

  retention: "15d"

  resources:
    requests:
      cpu: 200m
      memory: 1Gi
    limits:
      cpu: 500m
      memory: 2Gi

alertmanager:
  enabled: false

pushgateway:
  enabled: false

serverFiles:
  prometheus.yml:
    scrape_configs:
      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - action: keep
            source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            regex: "true"
      - job_name: 'kubernetes-nodes'
        kubernetes_sd_configs:
          - role: node

